<div class="card  mt-5 float-center " style="width:60%;align-items: center;">
    <h1>User Login</h1>
    <div calss="row">
        <div class="col-8">userName:
            <div class="col-4">  <input type="text" [(ngModel)]="username" placeholder="" />
            </div>password: 
            <div class="col-4"> <input type="Password" [(ngModel)]="password" />
            </div>

        </div>
        <div class="col-4 mt-3 mb-2">
            <button class="btn btn-primary" (click)="Login()">Login</button>
        </div>
    </div>
</div>